<h3>Properties List</h3>
<%= link_to "Create New Listing", new_listing_path %>


<table>
	<% @listings.each_with_index do |listing, index| %>
	<tr>
		<td><%= index + 1 %></td>
		<td><%= link_to listing.title, listing %></td>
		<td>' -- '</td>
		<td><%= listing.address %></td>
	</tr>
	<% end %>
</table>
