<!DOCTYPE html>
<html>
 <head>
 	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>

 <body>
	<h1><%= @customer.first_name %> <%= @customer.last_name %> canceled the reservation number <%= @booking_spare.id %></h1>
	<p>
	 	You can see details of your updated reservation here: <%= @url %>
	</p>
 </body>
</html>